<mat-toolbar>
    <button (click)="sidenav.toggle()" class="text-white navbar-toggler me-2" aria-label="icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    Today
    <small class="ps-1" *ngIf="date | async; let date; else loadingDate">
        <span class="px-2">|</span>
        {{ date | date: 'medium' }}
    </small>

    <ng-template #loadingDate>
        <small class="ps-1">
            <span class="px-2">|</span>
            <span> loading date </span>
            <div class="mx-2 spinner-border spinner-border-sm" role="status"></div>
        </small>
    </ng-template>
</mat-toolbar>



<mat-sidenav-container class="main-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
        <mat-list role="list">
            <mat-list-item class="menu-item" routerLinkActive="active" routerLink="new" matRipple role="listitem">
                <mat-icon mat-list-icon>add_circle_outline</mat-icon> New Task
            </mat-list-item>
            <mat-list-item class="menu-item" routerLinkActive="active" routerLink="list/all" matRipple role="listitem">
                <mat-icon mat-list-icon>list</mat-icon> All
            </mat-list-item>
            <mat-list-item class="menu-item" routerLinkActive="active" routerLink="list/today" matRipple role="listitem">
                <mat-icon mat-list-icon>today</mat-icon> Today
            </mat-list-item>
        </mat-list>
        <mat-accordion class="group-accordion">
            <mat-expansion-panel class="shadow-none">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Groups
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item class="menu-item" routerLink="list/all" [queryParams]="{gId: group.id}" matRipple role="listitem" *ngFor="let group of groups | async">
                        {{ group.name }}
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
